/* Bakgrunsfarge */
body {
  background-color: #e3f2f1; /* Light teal background */
}
  
/* Classes */
header {
  background-color: #4caf50; /* Main green color */
  border: 2px solid #388e3c; /* Darker green for the border */
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.city {
  background-color: #ffffff; /* White for contrast */
  color: #333333; /* Dark gray for text */
  border: 2px solid #4caf50; /* Green border */
  margin: 20px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between; /* Ensures there's space between the divs */
  margin: 20px;
}

.left, .right {
  background-color: #ffffff; /* White for contrast */
  color: #333333; /* Dark gray for text */
  border: 2px solid #4caf50; /* Green border */
  padding: 20px;
  width: 46.7%; /* Slightly less than 50% to allow for spacing */
}

.body {
  background-color: #f1f8e9; /* Very light green background */
  color: #333333; /* Dark gray for text */
  border: 2px solid #4caf50; /* Green border */
  padding: 1px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* Style the footer */
footer {
  background-color: #4caf50; /* Main green color */
  border: 2px solid #388e3c; /* Darker green for the border */
  padding: 10px;
  text-align: center;
  color: white;
}

/* Links color */
a:link {
  color: #388e3c; /* Dark green */
  text-decoration: none;
  font-size: 30px;
}
a:visited {
  color: #388e3c; /* Dark green */
  text-decoration: none;
  font-size: 30px;
}

a:hover {
  color: #1b5e20; /* Even darker green */
  text-decoration: underline;
  font-size: 45px;
}

a:active {
  color: #ffeb3b; /* Bright yellow */
  text-decoration: underline;
  box-sizing: border-box;
  font-size: 30px;
}

/* Buttons */
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; /* Round the button edges */
}

.button1 {
  background-color: #8bc34a; /* Light green */
  color: black; 
  border: 2px solid #ffffff; /* White border */
}

.button1:hover {
  background-color: #33691e; /* Dark green */
  color: white;
  border: 2px solid #ffffff; /* White border */
}

/* Top Navigation */
.topnav {
  overflow: hidden;
  background-color: #ffffff; /* White for contrast */
  border: 2px solid #4caf50; /* Green border */
}

.topnav a {
  float: left;
  color: #4caf50; /* Main green */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e0f2f1; /* Light teal */
  color: #388e3c; /* Dark green */
}

.topnav a.active {
  background-color: #1b5e20; /* Darker green */
  color: white;
}
