
/* Bakfrunds Farge */
body {
    background-color: rgb(153, 153, 153);
  }
    
/* Classes */
  header {
    background-color: #666;
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .city {
    background-color: rgb(202, 202, 202);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  .body {
    background-color: rgb(142, 142, 142);
    color: white;
    border: 2px solid black;
    padding: 1px;
  }
  a:link {
    color: rgb(0, 0, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    box-sizing: border-box;
  }
  
  .left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 21%; /* The width is 20%, by default */
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%; /* The width is 60%, by default */
  }
  
  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 21%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  } 
/* Style the footer */
footer {
  background-color: #777;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  color: white;
}